[Unit]
Description=GoAnywhere Managed file transfer

[Service]
Type=forking
ExecStart=/home/vagrant/Linoma_Software/goanywhere.sh start

[Install]
WantedBy=multi-user.target
